# Large file types tracked with Git LFS
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
demo.mp4 filter=lfs diff=lfs merge=lfs -text

# Text files and other files will not use Git LFS
*.ipynb -text
README.md -text

